{% extends 'layouts/base.html' %}

{% block body %}
<div>
    激活邮件已发到{{ email }}邮箱,<br/>
    请登录邮箱完成激活。<br/>
    没收到验证邮件?<br/>
    1. 尝试到广告邮件、垃圾邮件目录里找找看<br/>
    2. 邮箱未收到激活邮件，请<a href="javascript:void(0);" onclick="send_register_mail()">再次发送激活邮件</a><br/>
    <hr/>
    <a href="{{ api_login }}">激活完成,立即登录</a>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function send_register_mail() {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST","{{ api_register_mail }}",true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded")
        xmlhttp.send("email={{ email }}&csrfmiddlewaretoken={{ csrf_token }}");
    }
    window.onload=function(){
        send_register_mail()
    }
</script>
{% endblock %}
